<div class="text-center">
    <h1 class="display-4">Welcome to CSV Reader</h1>
    <form>
        <input type="file" id="csv" />
        <button type="submit" id="upload">Upload</button>
    </form>
</div>
